.stats {
    display: flex;
}
.stats__item {
    width: 720px;
    padding: 70px 0 66px 0;
    display: flex;
    flex-direction: column;
}

.stats__item_position_left {
    align-items: flex-end;
    background: linear-gradient(208.93deg, #6888FF 12.77%, #5E80FF 73.11%);
    padding-right: 90px;
}

.stats__logo {
    width: 71px;
    height: 62px;
}

.stats__number {
    font-family: Quicksand, Arial, sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 83px;
    letter-spacing: 0.03em;
    height: 84px;
    margin-top: 24px;
    margin-bottom: 0;
}

.stats__number_blue {
    color: #5E80FF;
}

.stats__description {
    max-width: 260px;
    font-family: Quicksand, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-align: right;
}

.stats__description_blue {
    color: #5E80FF;
    text-align: left;
}

.stats__item_position_right {
    flex-direction: column;
    background: linear-gradient(130.53deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
    padding-left: 90px;
}

.footer {
    padding: 93px 117px 93px 117px;
    font-family: Quicksand, Arial, sans-serif;
    color: black;
}