.hero-image__title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #3D4F9F;
  margin: 16px auto 0 auto;
  z-index: 1;
}
