@import url('./__text/button-get-started__text.css');

.button-get-started {
  width: 113px;
  height: 43px;
  background: #D2E1FF;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  margin-left: 44px;
  text-decoration: none;
}

.button-get-started:hover {
  opacity: .7;
  transition: opacity .2s ease-in;
}
