@font-face {
    font-family: 'Quicksand';
    src: local('Quicksand Light'), local('Quicksand-Light'), url('quicksandlight.woff2') format('woff2'), url('quicksandlight.woff') format('woff'), url('quicksandlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: local('Quicksand Medium'), local('Quicksand-Medium'), url('quicksandmedium.woff2') format('woff2'), url('quicksandmedium.woff') format('woff'), url('quicksandmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: local('Quicksand Bold'), local('Quicksand-Bold'), url('quicksandbold.woff2') format('woff2'), url('quicksandbold.woff') format('woff'), url('quicksandbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
