.features__item-title {
  font-family: Open Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #4074F8;
  margin: 31px 0 14px;
}
