@import url('./__list/menu__list.css');
@import url('./__item/menu__item.css');
@import url('./__link/menu__link.css');
@import url('./__cocial-icon/menu__cocial-icon.css');

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
